.products {
    text-align: center;
    padding: 10rem 0;
    position: relative;
    z-index: 2;
}
.hero-products .products {
    padding: 15rem 0;
    background-color: var(--first-brand-color);
}
.products .container {
    position: relative;
}

.sub-title__box {
    position: relative;
    margin-bottom: 1rem;
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.hero-products .sub-title {
    margin-bottom: 1rem;
}
.success-message {
    background-color: var(--success);
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--main-text-color);
}
.success-message span {
    color: inherit;
}
.success-message > * {
    font-family: inherit;
    font-size: inherit;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}


.product__block {
    padding: 2rem;
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
    width: fit-content;
}

.product__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 30rem;
    height: 30rem;
    background-color: var(--main-bg-color);
    padding: .5rem;
}
.product__img-box .img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product__text-box {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem 1rem 2rem;
}
.product__name {
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
  
}

.product__price {
    font-size: 5rem;
    display: block;
    margin: 0 auto 2rem;
    font-family: var(--title-font);
}
.product__btn-block {
    display: flex;
    justify-content: center;
}
.product__btn-block .btn--first {
    margin-right: 2rem;
} 
.product__btn {
    font-family: var(--title-font);
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
.product__btn-block .btn {
    background-color: transparent;
    color: var(--main-text-color);
    border-color: var(--main-text-color);
}

.swiper-wrapper {
    padding-bottom: 5rem;
}
.swiper-pagination-bullet {
   background-color: var(--main-text-color);
   width: 1.3rem;
   height: 1.3rem;
}
.products__bottom-svg {
    display: none;
}
@media screen and (min-width: 1440px) { 

    .product__img-box {
        margin-right: 0;
        width: 23rem;
        height: 23rem;
    }
    .product__btn:hover {
        transform: scale(1.1);
    }
 

    .hero-products .products {
        padding: 10rem 0 1rem;
        position: relative;
        background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 410.986 410.986' style='enable-background:new 0 0 410.986 410.986;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M355.105,118.905c-14.799,0-22.337-6.899-28.988-12.986c-6.005-5.497-10.749-9.839-20.886-9.839 c-10.137,0-14.881,4.342-20.887,9.839c-6.65,6.087-14.188,12.986-28.988,12.986c-14.8,0-22.337-6.899-28.988-12.986 c-6.005-5.497-10.748-9.839-20.885-9.839c-10.136,0-14.879,4.342-20.884,9.839c-6.65,6.087-14.188,12.986-28.988,12.986 c-14.798,0-22.334-6.899-28.984-12.986c-6.004-5.497-10.747-9.839-20.882-9.839c-10.136,0-14.879,4.342-20.884,9.839 c-6.65,6.087-14.188,12.986-28.987,12.986c-14.8,0-22.338-6.899-28.989-12.986C20.88,100.422,16.137,96.08,6,96.08 c-3.313,0-6-2.686-6-6c0-3.313,2.687-6,6-6c14.799,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.886,9.839 c10.136,0,14.879-4.342,20.884-9.838c6.65-6.088,14.188-12.987,28.987-12.987c14.798,0,22.335,6.9,28.985,12.987 c6.004,5.497,10.746,9.838,20.881,9.838c10.137,0,14.88-4.342,20.885-9.838c6.65-6.088,14.188-12.987,28.987-12.987 c14.8,0,22.337,6.899,28.988,12.987c6.005,5.496,10.749,9.838,20.885,9.838c10.138,0,14.881-4.342,20.886-9.838 c6.651-6.088,14.189-12.987,28.989-12.987s22.338,6.899,28.989,12.987c6.005,5.496,10.748,9.838,20.885,9.838 c10.139,0,14.883-4.342,20.89-9.839c6.651-6.087,14.19-12.986,28.991-12.986c3.313,0,6,2.687,6,6c0,3.314-2.687,6-6,6 c-10.139,0-14.883,4.342-20.89,9.839C377.445,112.006,369.907,118.905,355.105,118.905z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M355.105,170.905c-14.799,0-22.337-6.899-28.988-12.986c-6.005-5.497-10.749-9.839-20.886-9.839 c-10.137,0-14.881,4.342-20.887,9.839c-6.65,6.087-14.188,12.986-28.988,12.986c-14.8,0-22.337-6.899-28.988-12.986 c-6.005-5.497-10.748-9.839-20.885-9.839c-10.136,0-14.879,4.342-20.884,9.839c-6.65,6.087-14.188,12.986-28.988,12.986 c-14.798,0-22.334-6.899-28.984-12.986c-6.004-5.497-10.747-9.839-20.882-9.839c-10.136,0-14.879,4.342-20.884,9.839 c-6.65,6.087-14.188,12.986-28.987,12.986c-14.8,0-22.338-6.899-28.989-12.986C20.88,152.422,16.137,148.08,6,148.08 c-3.313,0-6-2.686-6-6c0-3.313,2.687-6,6-6c14.799,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.886,9.839 c10.136,0,14.879-4.342,20.884-9.838c6.65-6.088,14.188-12.987,28.987-12.987c14.798,0,22.335,6.9,28.985,12.987 c6.004,5.497,10.746,9.838,20.881,9.838c10.137,0,14.88-4.342,20.885-9.838c6.65-6.088,14.188-12.987,28.987-12.987 c14.8,0,22.337,6.899,28.988,12.987c6.005,5.496,10.749,9.838,20.885,9.838c10.138,0,14.881-4.342,20.886-9.838 c6.651-6.088,14.189-12.987,28.989-12.987s22.338,6.899,28.989,12.987c6.005,5.496,10.748,9.838,20.885,9.838 c10.139,0,14.883-4.342,20.89-9.839c6.651-6.087,14.19-12.986,28.991-12.986c3.313,0,6,2.687,6,6c0,3.314-2.687,6-6,6 c-10.139,0-14.883,4.342-20.89,9.839C377.445,164.006,369.907,170.905,355.105,170.905z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M355.105,222.906c-14.799,0-22.337-6.899-28.988-12.986c-6.005-5.497-10.749-9.839-20.886-9.839 c-10.137,0-14.881,4.342-20.887,9.838c-6.65,6.088-14.188,12.987-28.988,12.987c-14.8,0-22.337-6.899-28.988-12.987 c-6.005-5.496-10.748-9.838-20.885-9.838c-10.136,0-14.879,4.342-20.884,9.838c-6.65,6.088-14.188,12.987-28.988,12.987 c-14.798,0-22.334-6.899-28.984-12.987c-6.004-5.496-10.747-9.838-20.882-9.838c-10.136,0-14.879,4.342-20.884,9.838 c-6.65,6.088-14.188,12.987-28.987,12.987c-14.8,0-22.338-6.899-28.989-12.987c-6.005-5.496-10.749-9.838-20.885-9.838 c-3.313,0-6-2.687-6-6c0-3.314,2.687-6,6-6c14.799,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.886,9.839 c10.136,0,14.879-4.342,20.884-9.839c6.65-6.087,14.188-12.986,28.987-12.986c14.798,0,22.335,6.899,28.985,12.987 c6.004,5.496,10.746,9.838,20.881,9.838c10.137,0,14.88-4.342,20.885-9.839c6.65-6.087,14.188-12.986,28.987-12.986 c14.8,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.885,9.839c10.138,0,14.881-4.342,20.886-9.839 c6.651-6.087,14.189-12.986,28.989-12.986s22.338,6.899,28.989,12.986c6.005,5.497,10.748,9.839,20.885,9.839 c10.139,0,14.883-4.342,20.89-9.839c6.651-6.087,14.19-12.986,28.991-12.986c3.313,0,6,2.686,6,6c0,3.313-2.687,6-6,6 c-10.139,0-14.883,4.342-20.89,9.839C377.445,216.007,369.907,222.906,355.105,222.906z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M355.105,274.906c-14.799,0-22.337-6.899-28.988-12.986c-6.005-5.497-10.749-9.839-20.886-9.839 c-10.137,0-14.881,4.342-20.887,9.838c-6.65,6.088-14.188,12.987-28.988,12.987c-14.8,0-22.337-6.899-28.988-12.987 c-6.005-5.496-10.748-9.838-20.885-9.838c-10.136,0-14.879,4.342-20.884,9.838c-6.65,6.088-14.188,12.987-28.988,12.987 c-14.798,0-22.334-6.899-28.984-12.987c-6.004-5.496-10.747-9.838-20.882-9.838c-10.136,0-14.879,4.342-20.884,9.838 c-6.65,6.088-14.188,12.987-28.987,12.987c-14.8,0-22.338-6.899-28.989-12.987c-6.005-5.496-10.749-9.838-20.885-9.838 c-3.313,0-6-2.687-6-6c0-3.314,2.687-6,6-6c14.799,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.886,9.839 c10.136,0,14.879-4.342,20.884-9.839c6.65-6.087,14.188-12.986,28.987-12.986c14.798,0,22.335,6.899,28.985,12.987 c6.004,5.496,10.746,9.838,20.881,9.838c10.137,0,14.88-4.342,20.885-9.839c6.65-6.087,14.188-12.986,28.987-12.986 c14.8,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.885,9.839c10.138,0,14.881-4.342,20.886-9.839 c6.651-6.087,14.189-12.986,28.989-12.986s22.338,6.899,28.989,12.986c6.005,5.497,10.748,9.839,20.885,9.839 c10.139,0,14.883-4.342,20.89-9.839c6.651-6.087,14.19-12.986,28.991-12.986c3.313,0,6,2.686,6,6c0,3.313-2.687,6-6,6 c-10.139,0-14.883,4.342-20.89,9.839C377.445,268.007,369.907,274.906,355.105,274.906z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M355.105,326.906c-14.799,0-22.337-6.899-28.988-12.986c-6.005-5.497-10.749-9.839-20.886-9.839 c-10.137,0-14.881,4.342-20.887,9.838c-6.65,6.088-14.188,12.987-28.988,12.987c-14.8,0-22.337-6.899-28.988-12.987 c-6.005-5.496-10.748-9.838-20.885-9.838c-10.136,0-14.879,4.342-20.884,9.838c-6.65,6.088-14.188,12.987-28.988,12.987 c-14.798,0-22.334-6.899-28.984-12.987c-6.004-5.496-10.747-9.838-20.882-9.838c-10.136,0-14.879,4.342-20.884,9.838 c-6.65,6.088-14.188,12.987-28.987,12.987c-14.8,0-22.338-6.899-28.989-12.987c-6.005-5.496-10.749-9.838-20.885-9.838 c-3.313,0-6-2.687-6-6c0-3.315,2.687-6,6-6c14.799,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.886,9.839 c10.136,0,14.879-4.342,20.884-9.839c6.65-6.087,14.188-12.986,28.987-12.986c14.798,0,22.335,6.899,28.985,12.987 c6.004,5.496,10.746,9.838,20.881,9.838c10.137,0,14.88-4.342,20.885-9.839c6.65-6.087,14.188-12.986,28.987-12.986 c14.8,0,22.337,6.899,28.988,12.986c6.005,5.497,10.749,9.839,20.885,9.839c10.138,0,14.881-4.342,20.886-9.839 c6.651-6.087,14.189-12.986,28.989-12.986s22.338,6.899,28.989,12.986c6.005,5.497,10.748,9.839,20.885,9.839 c10.139,0,14.883-4.342,20.89-9.839c6.651-6.087,14.19-12.986,28.991-12.986c3.313,0,6,2.685,6,6c0,3.313-2.687,6-6,6 c-10.139,0-14.883,4.342-20.89,9.839C377.445,320.007,369.907,326.906,355.105,326.906z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70% auto;
    }
    .hero-products .products__block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .products__bottom-svg {
        display: block;
        width: 30rem;
        min-width: 30rem;
        height: 30rem;
        transform: rotate(90deg);
    }
    .products__bottom-svg--second {
        transform: rotate(90deg) scale(1, -1);
    }
    .swiper {
        width: 55%;
    }
    .product__btn-block .btn:hover {
        background-color: var(--second-brand-color);
        color: var(--main-text-color);
        border-color: var(--second-brand-color);
    }
}





